html {
	background-color: #033156;
}

h1 {
	text-align: center;
	color: #867777;
    text-shadow: 1px -1px black;
}

.button .reset {
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	color: #867777;
	font-size: 30px;
	background-color: #afa4a4;
	border-radius: 10px;
}

.grid {
	margin: 20px auto;
	width: 480px;
	height: 480px;
	border: solid 1px;
	background-color: white;
}

.grid .block {
	float: left;
	vertical-align: top;
	width: 30px;
	height: 30px;
}

.grid .color {
	background-color: black;
}

.color {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.color:first-child {
	background-color: red;
	margin-left: -150px;
	margin-top: 100px;
}

.color:nth-child(2) {
	background-color: black;
	margin-left: -150px;
	margin-top: 200px;
}

.color:nth-child(3) {
	background-color: blue;
	margin-left: -150px;
	margin-top: 300px;
}

.toggleHover {
	position: absolute;
	margin-left: -160px;
	text-decoration: none;
	color: #867777;
	background-color: #afa4a4;
	border-radius: 5px;
}

.toggleEraser {
	position: absolute;
	margin-left: -160px;
	margin-top: 30px;
	text-decoration: none;
	color: #867777;
	background-color: #afa4a4;
	border-radius: 5px;
}