
.wrapper {
	margin: 50px 400px;

}

#reset {
	width: 100px;
	margin-left: 150px;
}

h1 {
	text-align: center;
	color: #867777;
    text-shadow: 1px -1px black;
}

#button {
	width: 50px;
	margin: 0 auto;
}

.grid {
	margin-top: 20px;
	padding: 0px;
}
.grid .block {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	border: solid 1px;
}

.grid .color {
	background-color: black;
}