html {
	background-color: #033156;
}

h1 {
	text-align: center;
	color: #867777;
    text-shadow: 1px -1px black;
}

.button #reset{
	display: block;
	margin: 10px auto;
	text-decoration: none;
}

.grid {
	margin: 20px auto;
	width: 480px;
	height: 480px;
	border: solid 1px;
	background-color: white;
}

.grid .block {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
}

.grid .color {
	background-color: black;
}

.test {
	width: 100px;
	height: 100px;
	background-color: red;
}